/*
* MM browser in a table
*/
.browser {
  border: none;
  text-align:left;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.browser tbody {
  border: none;
}
.browser .menu {
  margin: 0 0 0 1.5em;
  padding: 0;
}
.browser .menu .expanded {
  list-style: circle url(../../../../core/themes/stable/images/core/menu-expanded.png);
  padding: 0.4em 0 0 0;
  margin: 0;
}
.browser .menu .collapsed {
  list-style: disc url(../../../../core/themes/stable/images/core/menu-collapsed.png);
  padding: 0.4em 0 0 0;
  margin: 0;
}
.browser .leaf {
  list-style: square url(../../../../core/themes/stable/images/core/menu-leaf.png);
  padding: 0.4em 0 0 0;
  margin: 0;
}
.browser a {
  text-decoration: none;
}
.browser a:active {
}
.browser a:hover {
  text-decoration: underline;
}
.browser-action {
  padding: 0 0.5em 6px 0;
  margin: 0 0 0 1em;
  color: #000;
  white-space: nowrap;
}
body.browser .browser-action {
  padding: 0.4em 0.5em 0 0;
}

/*
** MM page list in node create/edit forms
*/
.mm-list, .mm-list a {
  margin: 1px 3px 1px 3px;
  padding: 2px 2px 2px 0;
}
.mm-list a {
  text-decoration: none;
  color: #606;
}
.mm-list-selected, .mm-list-selected a, .mm-list-selected a:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  margin: 1px 3px 1px 3px;
  padding: 2px 2px 2px 0;
}

.mm-list-error {
  border: 2px solid red;
  padding: 4px;
}

.mm-admin-types {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #ddd;
}

/* Fieldsets within vertical tabs */
.vertical-tabs .mm-permissions-data-row legend {
  display: block;
}
.node-form .vertical-tabs .mm-permissions-data-row .fieldset-wrapper {
  margin-top: 15px;
}
.vertical-tabs .form-type-textfield input.machine-name-source {
  width: auto;
}

/* Tooltips */
.tooltip-link {
  text-decoration: none;
  border-bottom: 1px #888 dotted;
  background-color: #ffc;
  color: #555;
}
.tooltip-link:hover {
  background-color: #555;
  color: #fff;
}
#PUContent table tbody {
  border: none;
}
#PUContent li {
  margin-left: -25px;
  margin-right: 25px;
  white-space: nowrap;
}

/* Permissions Solver */
#mm-solver .tooltip-link {
  border-bottom: none;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}
#mm-solver .tooltip-link:hover {
  background-color: inherit;
  color: inherit;
}
#mm-solver-link {
  float: right;
}

/* Permissions */
.mm-permissions .first-col {
  width: 100%;
}

/* Yes/No checkmarks */
.mm-yesno-yes {
  color: #0c0;
}
.mm-yesno-no {
  color: #c00;
}

.form-item label.disabled {
  color: #777;
}

/* Search/ Replace */

#mm-search-form tr {
  border-bottom: none;
}

#mm-search-form #search-page-catlist tr {
  background: inherit;
  border-bottom: none;
}

#search-settings_perms2 fieldset, #search-settings_perms2_g fieldset {
  border: none;
  background: none;
  margin-bottom: 10px;
}
#search-settings_perms2 .fieldset-wrapper, #search-settings_perms2_g .fieldset-wrapper {
  margin-top: 0;
}

.mmsr-cont-table, .mmsr-page-table, .mmsr-group-table {
  width: 100%;
}

.mmsr-cont-table {
  border-top:    2px #aca solid;
  border-bottom: 2px #aca solid;
}

.mmsr-page-table {
  border-top:    2px #dca solid;
  border-bottom: 2px #dca solid;
}

.mmsr-group-table {
  border-top:    2px #acd solid;
  border-bottom: 2px #acd solid;
}

.mmsr-page-table td, .mmsr-cont-table td, .mmsr-group-table td {
  padding: 1px 1px 2px 5px;
  border: none;
}

.mmsr-page-table td td, .mmsr-cont-table td td, .mmsr-group-table td td {
  padding-left: 1px;
}

#mmsr-plus-minus {
  white-space: nowrap;
  width: 0;
}

#mmsr-widgets {
  padding-left: 30px;
}

#mmsr-where {
  white-space: nowrap;
  padding: 5px 25px 5px 5px;
}

#mmsr-where a {
  padding-left: 15px;
  background: url(../../../../core/themes/stable/images/core/menu-expanded.png) 5px 75% no-repeat;
  border-bottom: none;
}

#mmsr-where a.collapsed {
  background: url(../../../../core/themes/stable/images/core/menu-collapsed.png) 5px 75% no-repeat;
  border-bottom: none;
  }

.mmsr-page-row {
  border-top: 1px #dca solid;
  background-color: #fec;
}

.mmsr-page-row-widgets {
  background-color: #ffe;
}

.mmsr-group-row {
  border-top: 1px #acd solid;
  background-color: #cef;
}

.mmsr-group-row-widgets {
  background-color: #eff;
}

.mmsr-cont-row {
  border-top: 1px #aca solid;
  background-color: #cec;
}

.mmsr-cont-row-widgets {
  background-color: #efe;
}

#mmsr-status #mmsr-recalc {
  float: left;
  margin-right: 1em;
}

#mmsr-status input {
  float: right;
}

#mmsr-status .ajax-progress-throbber {
  padding: 0;
}

#mmsr-diagnostic {
  clear: right;
  margin-top: 3em;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

/* Datatables */
.paginate_disabled_previous {
  background: url(../images/page_previous_not_active.png) no-repeat center;
}

.paginate_enabled_previous {
  background: url(../images/page_previous_active.png) no-repeat center;
  cursor: pointer;
}

.paginate_disabled_next {
  background: url(../images/page_next_not_active.png) no-repeat center;
}

.paginate_enabled_next {
  background: url(../images/page_next_active.png) no-repeat center;
  cursor: pointer;
}

#mm-user-datatable-members-display_wrapper {
  color: #000000;
  font: 12px/150% Helvetica, Arial, Verdana, sans-serif;
  width: 100%;
}

/* tablesorter styles */
.tablesorter {
  width: 100%;
}

.tablesorter th {
  color: blue;
  cursor: pointer;
  white-space: nowrap;
  padding: 3px 6px 2px 13px;
  vertical-align: middle;
  background: url(../images/sort_inactive.png) no-repeat 1px center;
}

.tablesorter .no-sort {
  background-image: none;
}

.tablesorter thead tr th.sorting_asc {
  color: blue;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 13px;
  vertical-align: middle;
  background: url(../images/sort_up.png) no-repeat 1px center;
}

.tablesorter thead tr th.sorting_desc {
  color: blue;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 13px;
  vertical-align: middle;
  background: url(../images/sort_down.png) no-repeat 1px center;
}

a.tabledrag-handle-sample .handle {
  display: inline;
  background-position-x: 0;
  background-position-y: 0;
  padding: 6px;
  margin: 0;
}

a.tabledrag-handle-sample:hover {
  cursor: move;
}

/* table styles */
#mm-user-datatable-members-display_wrapper thead th {
  padding: 1px 6px 3px 13px;
  vertical-align: bottom;
  border-bottom: 2px solid #ccc;
  font: 12px/150% Helvetica, Arial, Verdana,serif;
}

th.active img {
  display: inline;
}

th a:link, th a:visited {
  text-decoration: none;
}

th a:hover {
  text-decoration: underline;
}

#mm-user-datatable-members-display_wrapper tr.even {
  padding: inherit;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  font: 12px/150% Helvetica, Arial, Verdana,serif;
}

#mm-user-datatable-members-display_wrapper tr.odd {
  padding: inherit;
  background-color: #e2e2e2;
  border-bottom: 1px solid #ccc;
  font: 12px/150% Helvetica, Arial, Verdana,serif;
}

tr.align-top, td.align-top {
  vertical-align: top;
}

tr.even td, tr.odd td {
  padding: 1px 6px 3px 6px;
}

tbody {
  border-top: none;
}

.image-margin {
  margin: 10px;
}

.image-border {
  border: 1px solid #000000;
}

/* page revisions */
.mm-revisions-added {
  color: green;
}
.mm-revisions-deleted {
  text-decoration: line-through;
  color: red;
}
.mm-revisions-changed {
  color: black;
}
.mm-revisions-same {
  color: #bbb;
}

table#mm-reorder1 tr.region-title td, table#mm-reorder2 tr.region-title td {
  font-weight: bold;
}
table#mm-reorder1 tr.region-message, table#mm-reorder2 tr.region-message {
  font-weight: normal;
  color: #999;
}
table#mm-reorder1 tr.region-populated, table#mm-reorder2 tr.region-populated {
  display: none;
}
table#mm-reorder1 tr.mm-not-draggable, table#mm-reorder2 tr.mm-not-draggable {
  opacity: 0.3;
}

/* Outer tree browser dialog */
.mm-browser-dialog>.ui-dialog-content {
  padding: 0;
  overflow: hidden;
}

/* autocomplete suggestions */
ul.ui-autocomplete {
  z-index: 1300;
}

body.mm-dialog {
  background: none;
}
