.manage-bookmarks-table td {
  width: 1em;
}

.manage-bookmarks-table a.tabledrag-handle, .manage-bookmarks-table div.handle {
  height: 20px;
}

.manage-bookmarks-table td.tb-manage-name {
  width: 20em;
  text-align: left;
  padding-left: 2px;
}

.manage-bookmarks-table {
  width: 100%;
}

.manage-bookmarks-table form {
  margin: 0;
}
