/*
 * Tree browser in a table
 */
html, body {
  height: 100%;
  background: #eee;
  font: 12px/150% Helvetica, Arial, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body.mm-page-wrapper {
  height: auto;
  background: none;
}
body#mmtree-assist-properties {
  background: #eee none;
}
body.mm-page-wrapper tbody {
  border: none;
}
h4.mmtree-browse-title {
  font-size: 15px;
  color: #707070;
}
body#mm-media-assist-load.mm-media-assist {
  margin: 0;
}
#mmtree-browse {
  height: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#mmtree-browse .links {
  margin: 4px 0;
  color: #666;
  text-align: left;
  font-weight: normal;
}
#mmtree-browse-thumbnails #mmtree-browse-thumbnail {
  text-align: center;
  padding: 4px;
}
#mmtree-browse-thumbnails th {
  padding: 4px;
}
#mmtree-browse-thumbnails {
  width: 100%;
}
.mmtree-browse-imagesingle {
  float: left;
  margin: 5px;
  width: 106px;
  height: 115px;
  text-align:center;
  border:solid 1px #333;
  background-color: #E6E6E6;
}
.mmtree-browse-imagesingle .image {
  margin: 3px;
}
.mmtree-browse-imagepreview {
  height: 100px;
  vertical-align: middle;
}
.mmtree-browse-imagepreview:hover {
  background-color: #707070;
  cursor: pointer;
}
/* Main wrapper class for entire browser */
#mmtree-browse-browser {
  height: 100%;
  position: relative;
  z-index: 1;
}
#mmtree-browse-browser .ui-resizable-e {
  cursor: col-resize;
  width: 8px;
  background: #eee url(../images/vgrippie.png) no-repeat center;
  border: 1px solid #ddd;
}
.page-media-browser .body_wrapper, #media-browser-page-wrapper, #media-browser-page, #media-browser-tabset, #Browse_Tree {
  height: 100%;
}
/* Media Browser Navigation Pane (top pane with links)*/
#mmtree-browse-nav, #mmtree-assist-nav {
  padding: 7px 8px 2px;
  background: #707070;
  height: 2.8em;
  z-index: 2;
}
#mmtree-browse-nav>div {
  display: inline-flex;
  align-items: flex-start;
}
#mmtree-browse-nav>div>* {
  margin-right: 1em;
}
#mmtree-browse-nav .dropbutton-wrapper.open li:first-child {
  display: none;
}
/* Media Browser Tree Pane (left pane with tree browser) */
#mmtree-browse-tree-wrapper {
  display: inline-block;
  width: 30%;
  min-height: 100%;
  height: 100%;
}
#mmtree-browse-tree {
  background-color: #EFEFEF;
  overflow: auto;
  width: 100%;
  min-height: 100%;
}
#mmtree-browse-tree .clicked {
  background-color: #707070;
  border-color: #707070;
}
#mmtree-browse-tree a {
  border-bottom: none;
}
#mmtree-browse-tree a.disabled {
  color: #777;
}
#mmtree-browse-tree .mmtree-hidden {
  color: #226;
}
#mmtree-browse-tree .jstree-clicked {
  color: #fff;
}
.tree-classic li a.clicked {
  color: #000;
}
#mmtree-browse-tree .jstree-clicked {
  background-color: #888;
  border-color: transparent;
}
#mmtree-browse-tree li a:hover {
  color: #fff;
  background:#888;
  border-color: transparent;
}

/* Media Browser Content Pane (shows contents of current folder) */
#mmtree-browse-items {
  background-color: #FFFFFF;
  min-height: 100%;
  padding: 0 10px;
  width: 70%;
  margin: 0;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
}
#mmtree-browse-items .active {
  opacity: 0.5;
}
.mmtree-browse-filecount {
  font-size: 60%;
  color: #333;
}
.jstree-clicked .mmtree-browse-filecount {
  color: #fff;
}
.mmtree-browse-image {
  width: 100px;
  height: 100px;
  margin: 3px;
}
.mmtree-browse-caption {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mmtree-browse-caption a {
  color: #fff;
}
h2.mmtree-assist-title {
  color: #fff;
  float: right;
  padding-top: 0;
  margin-top: 0.25em;
  font: 15px Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
}
h4.mmtree-assist-title {
  color: #000;
  font: 15px Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
}
#bookmarks {
  z-index: 40;
}
/* Preview */
#mmtree-assist-preview .ui-widget-content {
  background: #ccc none;
  border: 0;
  }
#mmtree-assist-preview .ui-widget-header {
  background: #444 none;
  border: 0;
  }
.mm-bookmarks li.org+li {
  padding-top: 10px;
}
a.hilite {
  background-color: yellow;
}
ul.fg-menu li {
  background: none;
}
#mmtree-browse ul li.leaf a, #mmtree-browse ul li.expanded a, #mmtree-browse ul li.collapsed a {
  display: inline-block;
}
.fg-menu-container {
  z-index: 1;
}
.fg-menu-footer {
  z-index: 5;
}
.hidden {
  position:absolute;
  top:0;
  left:-9999px;
  width:1px;
  height:1px;
  overflow:hidden;
}
.dev-query {
  clear: both;
}
.mmtree-browse-caption {
  font: normal 10px/11px Helvetica;
  padding: 1px 2px;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
  height: 1.1em;
}
