{#
/**
 * @file
 * Display a thumbnail image in the tree browser.
 *
 * Available variables:
 */
#}
{% set div_attributes = div_attributes.addClass('mmtree-browse-imagesingle ui-widget-content') %}
<a href="#"{{ attributes }}><div{{ div_attributes }}><div class="mmtree-browse-caption">{{ short_title }}</div><div class="mmtree-browse-imagepreview" onclick="{{ link }}">{{ thumbnail|raw }}</div></div></a>
