.rss-page .feed-source .feed-title {
  margin-top: 0;
}
.rss-page .feed-source .feed-image img {
  margin-bottom: 0.75em;
}
.rss-page .feed-source .rss-feed-icon {
  float: right;
  display: block;
}
.rss-page .feed-source2 {
  font-size: 1.8em;
  padding-bottom: 0;
}
.rss-page .feed-source2 .rss-feed-icon {
  float: right;
  display: block;
}
.rss-page .feed-item-body .content img {
  border: 1px solid #333;
  margin-right: 8px;
  margin-left: 8px;
}
.rss-page .feed-item {
  margin-bottom: .5em;
}
.rss-page .feed-item-title {
  margin-bottom: 0;
  font: normal 100% verdana;
}
.rss-page .feed-item-title a {
  color: #660066;
  text-decoration: underline;
}
.rss-page .feed-item-title a:hover {
  color: #6600cc;
  text-decoration: underline;
}
.rss-page .feed-item-date {
  font-size: 80%;
  color: #666666;
}
.rss-page .feed-item-meta, .rss-page .feed-item-body {
  margin-bottom: 0;
}
.rss-page .feed-item-categories {
  font-size: 0.9em;
}
.rss-page td {
  vertical-align: bottom;
}
.rss-page td.categorize-item {
  white-space: nowrap;
}
.rss-page .categorize-item .news-item .body {
  margin-top: 0;
}
.rss-page .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}
#rss-page-block-form #tax-sample-wrapper {
  float: left;
}
#rss-page-block-form #edit-tax-text-wrapper {
  float: right;
}
#rss-page-block-form .tax-clear {
  clear: both;
  float: right;
}
