<label>{{ label_above_list }}</label>
<div name="rss_list_obj{{ mm_list_instance }}" style="display: none; height: 30px; margin: 0 5px 0 0">
  <a></a>
</div>
<div class="{{ mm_list_class }}"></div>
{% if 0 %}
  <div class="description">{{ mm_list_desc }}</div>
{% endif %}
